* {
    box-sizing: border-box;
}
/*First solution*/
.relative {
    position: relative;
    width:597px;
    height: 597px;
    border:4px solid black;
    margin:auto;
}
.absolutred {
    position:absolute;
    width: 497px;
    height: 500px;
    border-bottom: 7px solid black;
    top:0px;
    right:0px;
    background-color: red;
}
.absolutwhite1 {
    position: absolute;
    width: 95px;
    height: 201px;
    border-right: 7px solid black;
    top: 0px;
    left:0px;
}
.absolutwhite2 {
    position: absolute;
    width: 95px;
    height: 299px;
    border-top: 20px solid black;
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    top: 200px;
    left:0px;
}
.absolutblue {
    position: absolute;
    width: 95px;
    height: 95px;
    border-top: 7px solid black;
    border-right: 7px solid black;
    bottom: 0px;
    left:0px;
    background-color: blue;
}
.absolutwhite3 {
    position: absolute;
    width: 482px;
    height: 96px;
    border:1px solid black;
    bottom: 0px;
    right: 20px;
    }
.absolutwhite4 {
    position: absolute;
    width: 20px;
    height: 46px;
    border:1px solid black;
    border-left:7px solid black;
    bottom:50px;
    right: 0px;
        }
.absolutyellow {
    position: absolute;
    width: 20px;
    height: 50px;
    border:1px solid black;
    border-left:7px solid black;
    border-top:20px solid black;
    bottom:0px;
    right: 0px;
    background-color: yellow;
        }

        /*Second solution*/


.white1 {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 450px;
    margin-right:-5px;
    border:3px solid black;
}
.red {
    display: inline-block;
    position: relative;
    width: 450px;
    height: 450px;
    border:3px solid black;
    border-left: 7px solid black;
    background-color: red;
}
.white2 {
    position: absolute;
    width:100px;
    height:250px;
    margin-right: -5px;
    margin-left: -3px;
    border:3px solid black;
    bottom: -3px;
    border-top: 10px solid black;
}
.blue {
    display: inline-block;
    position:relative;
    width:100px;
    height:100px;
    border: 3px solid black;
    border-top: 7px solid black;
    background-color: blue;
    margin-top: -10px;
    margin-right:-5px;
}
.white3 {
    display:inline-block;
    position: relative;
    width: 430px;
    height: 100px;
    border: 3px solid black;
    border-top: 7px solid black;
    border-left: 7px solid black;;
    margin-top: -10px 
    
}
.white4 {
    display:inline-block;
    position: relative;
    width:20px;
    height: 100px;
    border:3px solid black;
    border-top: 7px solid black;
    border-left: 7px solid black;
    margin-left: -5px;
    margin-top: -10px;
}
.yellow {
    position: absolute;
    width:18px;
    height: 40px;
    border: 3px solid black;
    bottom: 0px;
    background-color: yellow;
    margin-left: -5px;
    margin-bottom: -2px;
    border-left: 4px solid black;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
}

/*Second homework*/

.relativ {
    position: relative;
    width:500px;
    height: 500px;
    border: 1px solid whitesmoke;
    margin:auto;
}
.absolute1 {
    position: absolute;
    width:30px;
    height: 400px;
    border:3px solid black;
    right: 0px;
    top: 0px;
    background-color: whitesmoke;
}
.absolute2 {
    position: absolute;
    width:130px;
    height: 50px;
    border:3px solid black;
    right:30px;
    top:opx;
    background-color:rgb(247, 206, 119);
    border-bottom: 7px solid black;
    border-left: 7px solid black;
    border-right: 7px solid black;
}
.absolute3 {
    position: absolute;
    width:130px;
    height:150px;
    border:7px solid black;
    right:30px;
    top:50px;
    background-color: rgb(247, 206, 119);
}
.absolute4 {
    position: absolute;
    width:65px;
    height:150px;
    border:7px solid black;
    right:30px;
    top:200px;
    background-color: rgb(238, 231, 231);
}
.absolute5 {
    position: absolute;
    width:65px;
    height:150px;
    border:7px solid black;
    right:95px;
    top:200px;
    background-color: rgb(232, 237, 243);
}
.absolute6 {
    position: absolute;
    width:130px;
    height: 50px;
    border:7px solid black;
    right:30px;
    top:350px;
    background-color:rgb(232, 237, 243);
}
.absolute7 {
    position: absolute;
    width: 30px;
    height: 100px;
    border:3px solid black;
    right:0px;
    bottom: 0px;
    background-color:red;
}
.absolute8 {
    position: absolute;
    width:130px;
    height: 80px;
    border:7px solid black;
    right:30px;
    top:400px;
    background-color:blue;
}
.absolute9 {
    position: absolute;
    width:200px;
    height: 50px;
    border:3px solid black;
    right:160px;
    top:opx;
    background-color: rgb(248, 230, 230);
    border-bottom: 7px solid black;
    border-left: 7px solid black;
    border-right: 7px solid black;
}
.absolute10 {
    position: absolute;
    width:140px;
    height: 50px;
    border:3px solid black;
    left:0px;
    top:opx;
    background-color:rgb(232, 237, 243);
    border-bottom: 7px solid black;
    border-left: 7px solid black;
    border-right: 7px solid black;
}
.absolute11 {
    position: absolute;
    width:280px;
    height:300px;
    border:7px solid black;
    right:160px;
    top:50px;
    background-color:red;
}
.absolute12 {
    position: absolute;
    width:130px;
    height: 50px;
    border:7px solid black;
    right:160px;
    top:350px;
    background-color:rgb(185, 180, 180);
}
.absolute13 {
    position: absolute;
    width:130px;
    height: 50px;
    border:7px solid black;
    right:160px;
    top:400px;
    background-color:whitesmoke;
}
.absolute14 {
    position: absolute;
    width:130px;
    height: 30px;
    border:7px solid black;
    right:160px;
    top:450px;
    background-color: black;
}
.absolute15 {
    position: absolute;
    width: 150px;
    height: 100px;
    border:7px solid black;
    right:290px;
    top:350px;
    background-color: black;
}
.absolute16 {
    position: absolute;
    width: 60px;
    height: 150px;
    border:3px solid black;
    left:0px;
    top:50px;
    background-color: whitesmoke;
    border-bottom: 7px solid black;
    border-top: 7px solid black;
    border-right: 7px solid black;
}
.absolute17 {
    position: absolute;
    width: 60px;
    height: 200px;
    border:3px solid black;
    left:0px;
    top:200px;
    background-color: rgb(232, 237, 243);
    border-bottom: 7px solid black;
    border-top: 7px solid black;
    border-right: 7px solid black;
}
.absolute18 {
    position: absolute;
    width: 60px;
    height: 100px;
    border:3px solid black;
    left:0px;
    bottom:0px;
    background-color: rgb( 247, 206, 119);
    border-top: 7px solid black;
    border-right: 7px solid black;
}
.absolute19 {
    position: absolute;
    width: 150px;
    height: 50px;
    border:3px solid black;
    left:60px;
    bottom:0px;
    background-color: rgb(238, 231, 231);
    border-top:7px solid black;
    border-right:7px solid black;
    border-left:7px solid black;
}
.absolute20 {
    position: absolute;
    width: 260px;
    height: 20px;
    border:3px solid black;
    left:210px;
    bottom:0px;
    background-color: rgb(238, 231, 231);
    border-top:7px solid black;
    border-right:7px solid black;
    border-left:7px solid black;
}
.header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img {
    width: 150px;
    height: 150px;
}
